*{
    margin: 0px;
    border:border-box;
    font-family: arial;
}
.navbar{
    height:60px;
    background-color: white;
    color: black;
    border-bottom: 0.3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.navlogo{
    height: 50px;
    width:100px;
}
.logo{
    background-image: url("meeshoLogo.png");
    background-size: cover;
    height: 50px;
    width:100%;
    padding: 2px;
}